In [ ]:
import git
repository_url = "https://github.com/PhonePe/pulse.git"
#destination_directory = "C:\Users\nawas\Desktop\PHONE_PAY\data"
destination_directory = r"C:\Users\nawas\Desktop\PHONE_PAY"
git.Repo.clone_from(repository_url, destination_directory)

In [ ]:
#Agg_Trans
import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="c:/Users/nawas/Desktop/PHONE_PAY/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Agg_state_list:
  p_i=path+i+"/"
  Agg_yr=os.listdir(p_i)
  for j in Agg_yr:
    p_j=p_i+j+"/"
    Agg_yr_list=os.listdir(p_j)
    for k in Agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      A=json.load(Data)
      for z in A['data']['transactionData']:
        Name=z['name']
        count=z['paymentInstruments'][0]['count']
        amount=z['paymentInstruments'][0]['amount']
        clm['Transacion_type'].append(Name)
        clm['Transacion_count'].append(count)
        clm['Transacion_amount'].append(amount)
        clm['State'].append(i)
        clm['Year'].append(j)
        clm['Quater'].append(int(k.strip('.json')))

In [ ]:
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)
Agg_Trans['State']= Agg_Trans['State'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Agg_Trans['State']= Agg_Trans['State'].str.replace("-"," ")
Agg_Trans['State']= Agg_Trans['State'].str.replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli & Daman & Diu ")
Agg_Trans['State']= Agg_Trans['State'].str.title()

In [ ]:
#AGG_USER
import pandas as pd
import json
import os
#This is to direct the path to get the data as states

path1="c:/Users/nawas/Desktop/PHONE_PAY/data/aggregated/user/country/india/state/"
Agg_state_list=os.listdir(path1)
Agg_state_list

clm1={'State':[], 'Year':[],'Quater':[],'Brand':[],'Count':[],'Percentage':[]}

for i in Agg_state_list:
    p_i=path1+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            B=json.load(Data)
        try:
            for z in B['data']['usersByDevice']:
                Brand=z['brand']
                count=z['count']
                Percentage=z['percentage']
                clm1['Brand'].append(Brand)
                clm1['Count'].append(count)
                clm1['Percentage'].append(Percentage)
                clm1['State'].append(i)
                clm1['Year'].append(j)
                clm1['Quater'].append(int(k.strip('.json')))
        except:
            pass

In [ ]:
#Succesfully created a dataframe
Agg_Users=pd.DataFrame(clm1)
Agg_Users['State']= Agg_Users['State'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Agg_Users['State']= Agg_Users['State'].str.replace("-"," ")
Agg_Users['State']= Agg_Users['State'].str.replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli & Daman & Diu ")
Agg_Users['State']= Agg_Users['State'].str.title()

In [ ]:
#MAP trans
import pandas as pd
import json
import os

path2="c:/Users/nawas/Desktop/PHONE_PAY/data/map/transaction/hover/country/india/state/"
Map_state_list=os.listdir(path2)
Map_state_list

clm2={'State':[], 'Year':[],'Quater':[],'District':[],'Metric_count':[],'Metric_amount':[]}

for i in Map_state_list:
  p_i=path2+i+"/"
  Map_yr=os.listdir(p_i)
  for j in Map_yr:
    p_j=p_i+j+"/"
    Map_yr_list=os.listdir(p_j)
    for k in Map_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      C=json.load(Data)
      for z in C['data']['hoverDataList']:
        Name=z['name']
        count=z['metric'][0]['count']
        amount=z['metric'][0]['amount']
        clm2['District'].append(Name)
        clm2['Metric_count'].append(count)
        clm2['Metric_amount'].append(amount)
        clm2['State'].append(i)
        clm2['Year'].append(j)
        clm2['Quater'].append(int(k.strip('.json')))

In [ ]:
#Succesfully created a dataframe
Map_Trans=pd.DataFrame(clm2)
Map_Trans['State']= Map_Trans['State'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Map_Trans['State']= Map_Trans['State'].str.replace("-"," ")
Map_Trans['State']= Map_Trans['State'].str.replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli & Daman & Diu ")
Map_Trans['State']= Map_Trans['State'].str.title()

In [ ]:
#MAP USERS

import os
import json
import pandas as pd

path3="c:/Users/nawas/Desktop/PHONE_PAY/data/map/user/hover/country/india/state/"
Map_state_list=os.listdir(path3)
Map_state_list

clm3={'State':[], 'Year':[],'Quater':[],'Districts':[],'RegisteredUsers':[],'AppOpens':[]}

for i in Map_state_list:
  p_i=path3+i+"/"
  Map_yr=os.listdir(p_i)
  for j in Map_yr:
    p_j=p_i+j+"/"
    Map_yr_list=os.listdir(p_j)
    for k in Map_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']['hoverData'].items():
        District=z[0]
        registeredUsers=z[1]['registeredUsers']
        appOpens=z[1]['appOpens']
        clm3['Districts'].append(District)
        clm3['RegisteredUsers'].append(registeredUsers)
        clm3['AppOpens'].append(appOpens)
        clm3['State'].append(i)
        clm3['Year'].append(j)
        clm3['Quater'].append(int(k.strip('.json')))

In [ ]:
#Succesfully created a dataframe
Map_Users=pd.DataFrame(clm3)
Map_Users['State']= Map_Users['State'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Map_Users['State']= Map_Users['State'].str.replace("-"," ")
Map_Users['State']= Map_Users['State'].str.replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli & Daman & Diu ")
Map_Users['State']= Map_Users['State'].str.title()

In [ ]:
#TOP_Trans
import os
import json
import pandas as pd

path4="c:/Users/nawas/Desktop/PHONE_PAY/data/top/transaction/country/india/state/"
Top_state_list=os.listdir(path4)
Top_state_list

clm4={'State':[], 'Year':[],'Quater':[],'Pincodes':[],'Metric_count':[],'Metric_amount':[]}

for i in Top_state_list:
  p_i=path4+i+"/"
  Top_yr=os.listdir(p_i)
  for j in Top_yr:
    p_j=p_i+j+"/"
    Top_yr_list=os.listdir(p_j)
    for k in Top_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      E=json.load(Data)
      for z in E['data']['pincodes']:
        entityName=z['entityName']
        count=z['metric']['count']
        amount=z['metric']['amount']
        clm4['Pincodes'].append(entityName)
        clm4['Metric_count'].append(count)
        clm4['Metric_amount'].append(amount)
        clm4['State'].append(i)
        clm4['Year'].append(j)
        clm4['Quater'].append(int(k.strip('.json')))

In [ ]:
#Succesfully created a dataframe
Top_trans=pd.DataFrame(clm4)
Top_trans['State']= Top_trans['State'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Top_trans['State']= Top_trans['State'].str.replace("-"," ")
Top_trans['State']= Top_trans['State'].str.replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli & Daman & Diu ")
Top_trans['State']= Top_trans['State'].str.title()

In [ ]:
#Top_Users

import os
import json
import pandas as pd

path5="c:/Users/nawas/Desktop/PHONE_PAY/data/top/user/country/india/state/"
Top_state_list=os.listdir(path5)
Top_state_list

clm5={'State':[], 'Year':[],'Quater':[],'Pincodes':[],'RegisteredUsers':[]}

for i in Top_state_list:
  p_i=path5+i+"/"
  Top_yr=os.listdir(p_i)
  for j in Top_yr:
    p_j=p_i+j+"/"
    Top_yr_list=os.listdir(p_j)
    for k in Top_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      F=json.load(Data)
      for z in F['data']['pincodes']:
        Name=z['name']
        registeredUsers=z['registeredUsers']
        clm5['Pincodes'].append(Name)
        clm5['RegisteredUsers'].append(registeredUsers)
        clm5['State'].append(i)
        clm5['Year'].append(j)
        clm5['Quater'].append(int(k.strip('.json')))

In [ ]:
#Succesfully created a dataframe
Top_Users=pd.DataFrame(clm5)
Top_Users['State']= Top_Users['State'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Top_Users['State']= Top_Users['State'].str.replace("-"," ")
Top_Users['State']= Top_Users['State'].str.replace("dadra-&-nagar-haveli-&-daman-&-diu","Dadra & Nagar Haveli & Daman & Diu ")
Top_Users['State']= Top_Users['State'].str.title()

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="phonepae")
print(mydb)
mycursor = mydb.cursor(buffered=True)

In [ ]:
mycursor.execute('create database phonepae')

In [ ]:
#Agg_Trans table creation
Agg_Trans_table=mycursor.execute('''CREATE TABLE IF NOT EXISTS phonepae.Agg_Trans(State VARCHAR(255),
                                                                Year INT,
                                                                Quarter INT,
                                                                Transaction_type VARCHAR(255),
                                                                Transaction_count INT,
                                                                Transaction_amount INT)''')
mydb.commit()

In [ ]:
#Agg_Trans inserting process
Agg_Trans_insert='''INSERT INTO phonepae.Agg_Trans(State, Year, Quarter, Transaction_type, Transaction_count, Transaction_amount)
VALUES(%s, %s, %s, %s, %s, %s) '''
data=Agg_Trans.values.tolist()
mycursor.executemany(Agg_Trans_insert,data)
mydb.commit()

In [ ]:
#Agg_Users table creation
Agg_Users_table=mycursor.execute('''CREATE TABLE IF NOT EXISTS phonepae.Agg_Users(State VARCHAR(255),
                                                                Year INT,
                                                                Quarter INT,
                                                                Brand VARCHAR(255),
                                                                Count INT,
                                                                Percentage FLOAT)''')
mydb.commit()

In [ ]:
#Agg_Users inserting process
Agg_Users_insert='''INSERT INTO phonepae.Agg_Users(State, Year, Quarter, Brand, Count, Percentage)
VALUES(%s, %s, %s, %s, %s, %s) '''
data=Agg_Users.values.tolist()
mycursor.executemany(Agg_Users_insert,data)
mydb.commit()

In [ ]:
#Map_Trans table creation
Map_Trans_table=mycursor.execute('''CREATE TABLE IF NOT EXISTS phonepae.Map_Trans(State VARCHAR(255),
                                                                Year INT,
                                                                Quarter INT,
                                                                District VARCHAR(255),
                                                                Metric_count INT,
                                                                Metric_amount INT)''')
mydb.commit()

In [ ]:
#Map_Trans inserting process
Map_Trans_insert='''INSERT INTO phonepae.Map_Trans(State, Year, Quarter, District, Metric_count, Metric_amount)
VALUES(%s, %s, %s, %s, %s, %s) '''
data=Map_Trans.values.tolist()
mycursor.executemany(Map_Trans_insert,data)
mydb.commit()

In [ ]:
#Map_Users table creation
Map_Users_table=mycursor.execute('''CREATE TABLE IF NOT EXISTS phonepae.Map_Users(State VARCHAR(255),
                                                                Year INT,
                                                                Quarter INT,
                                                                Districts VARCHAR(255),
                                                                RegisteredUsers INT,
                                                                AppOpens INT)''')
mydb.commit()

In [ ]:
#Map_Users inserting process
Map_Users_insert='''INSERT INTO phonepae.Map_Users(State, Year, Quarter, Districts, RegisteredUsers, AppOpens)
VALUES(%s, %s, %s, %s, %s, %s) '''
data=Map_Users.values.tolist()
mycursor.executemany(Map_Users_insert,data)
mydb.commit()

In [ ]:
#Top_Trans table creation
Top_trans_table=mycursor.execute('''CREATE TABLE IF NOT EXISTS phonepae.Top_trans(State VARCHAR(255),
                                                                Year INT,
                                                                Quarter INT,
                                                                Pincodes INT,
                                                                Metric_count INT,
                                                                Metric_amount INT)''')
mydb.commit()

In [ ]:
#Top_trans inserting process
Top_trans_insert='''INSERT INTO phonepae.Top_trans(State, Year, Quarter, Pincodes, Metric_count, Metric_amount)
VALUES(%s, %s, %s, %s, %s, %s) '''
data=Top_trans.values.tolist()
mycursor.executemany(Top_trans_insert,data)
mydb.commit()

In [ ]:
#Top_Users table creation
Top_Users_table=mycursor.execute('''CREATE TABLE IF NOT EXISTS phonepae.Top_Users(State VARCHAR(255),
                                                                Year INT,
                                                                Quarter INT,
                                                                Pincodes INT,
                                                                RegisteredUsers INT)''')
mydb.commit()

In [ ]:
#Top_Users inserting process
Top_Users_insert='''INSERT INTO phonepae.Top_Users(State, Year, Quarter, Pincodes, RegisteredUsers)
VALUES(%s, %s, %s, %s, %s) '''
data=Top_Users.values.tolist()
mycursor.executemany(Top_Users_insert,data)
mydb.commit()